In [5]:
import pandas as pd
from faker import Faker
from random import randint

In [6]:
# Create instance of Faker
fake = Faker(
    locale = 'en-US'
)

# Set a seed to have fixed data each time
Faker.seed(1300)

In [7]:
# Create a function to generate customer data where you can enter amount of unique customers to be created
def create_customers(num_employees):

    # Start with empty list
    customer_list = []

    # Create a dictionary for customers starting with 1 ending with entered amount
    for i in range(0, num_employees):
        customer = {}

        # Enter as much different list items as columns to describe each customer as needed
        customer['id'] = randint(3000,7999)
        customer['first_name'] = fake.first_name()
        customer['last_name'] = fake.last_name()
        customer['company'] = fake.company()
        customer['email'] = fake.email()
        customer['address'] = fake.address()
        customer['location'] = fake.local_latlng()
        customer['latitude'] = fake.latitude()
        customer['longtitude'] = fake.longitude()
        customer['state'] = fake.state()


        # Append created list items into the empty dictionary
        customer_list.append(customer)

    # Return a pandas dataframe as ending result of the function
    return pd.DataFrame(
        customer_list
    )

In [8]:
create_customers(5)

,id,first_name,last_name,company,email,address,location,latitude,longtitude,state
0,3028,Michael,Long,"Bradley, Webster and Powell",amber24@example.net,59505 Alexander Canyon Suite 493\nPatriciamout...,"(39.00622, -77.4286, Sterling, US, America/New...",-5.5017565,-107.096202,Alabama
1,3017,Chad,Bailey,"Maxwell, Perez and Mann",willie70@example.org,"4999 Francis Neck\nWest Ritachester, NH 93955","(38.58894, -89.99038, Fairview Heights, US, Am...",-2.9352625,-13.834930,Missouri
2,5844,Elizabeth,Reed,"Meyers, Pham and Brown",matthewfrye@example.net,"85838 Ryan Trail Suite 996\nReynoldston, KY 70824","(31.76212, -95.63079, Palestine, US, America/C...",3.991379,159.904335,North Carolina
3,5017,Kevin,Gutierrez,Dawson Inc,jamesgray@example.org,"37704 Susan Dam\nLake Jennifer, MT 76595","(47.76232, -122.2054, Bothell, US, America/Los...",-82.7114875,152.003729,Minnesota
4,6955,David,Marquez,"Howard, Chandler and White",syoung@example.org,"670 Boyer Streets Suite 830\nSanchezmouth, UT ...","(41.85059, -87.882, Westchester, US, America/C...",-56.9914795,128.562632,New Hampshire